<!doctype html>
<html th:fragment="layout (template, menu)">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
  <title>NDA :: Netflix Data Analyzer</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>


<body>

  <nav class="navbar navbar-expand-lg navbar-light" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}"><span></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar" style>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" th:remove="all">

          <li th:fragment="menuItem (link,active,title,glyph,text)" th:class="nav-item">
            <a th:class="${active==menu ? 'nav-link active' : 'nav-link'}" th:href="@{__${link}__}" th:title="${title}">
              <span th:class="'fa fa-'+${glyph}" class="fa fa-home"></span>
              <span th:text="${text}">Template</span>
            </a>
          </li>

        </ul>

        <ul class="nav navbar-nav me-auto">

          <li th:replace="~{::menuItem ('/','home', 'Home', 'home', 'Home')}">
            <span class="fa fa-search" aria-hidden="true"></span>
            <span>Home</span>
          </li>

          <li th:replace="~{::menuItem ('/upload','upload', 'Upload File', 'upload', 'Upload')}">
            <span class="fa fa-search" aria-hidden="true"></span>
            <span>Upload</span>
          </li>

          <li th:replace="~{::menuItem ('/watched-content','watched-content', 'Watched Content', 'watched-content', 'Watched Content')}">
            <span class="fa fa-search" aria-hidden="true"></span>
            <span>Watched-Content</span>
          </li>

          <li th:replace="~{::menuItem ('/files','files', 'Files', 'files', 'Files')}">
            <span class="fa fa-search" aria-hidden="true"></span>
            <span>Files</span>
          </li>

          <li th:replace="~{::menuItem ('/devices','devices', 'Devices', 'devices', 'Devices')}">
            <span class="fa fa-th-list" aria-hidden="true"></span>
            <span>Devices</span>
          </li>

          <li th:replace="~{::menuItem ('/streaming-devices','streaming-devices', 'Streaming Devices', 'streaming-devices', 'Streaming Devices')}">
            <span class="fa fa-th-list" aria-hidden="true"></span>
            <span>Devices-IP Details</span>
          </li>

<!--          <li-->
<!--            th:replace="~{::menuItem ('/oups','error','trigger a RuntimeException to see how it is handled','exclamation-triangle','Error')}">-->
<!--            <span class="fa exclamation-triangle" aria-hidden="true"></span>-->
<!--            <span>Error</span>-->
<!--          </li>-->

        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="container">

      <th:block th:insert="${template}" />

      <br />
      <br />

    </div>
  </div>

  <script th:src="@{/webjars/bootstrap/5.3.3/dist/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
